body{
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Amatic SC', cursive;
}
.bodyBack{
    background: url(images/hpbck.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(50px, auto);

}
.h1Home{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 4;
    margin: auto;
    align-self: center;
    color: white;
    font-size: 6rem;
}

.form{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    margin: auto;
    align-self: center;
}
div > form > input:nth-child(1){
    height: 22px;
    width: 220px;
    font-size: 18px;
    
}
div > form > input:nth-child(2){
    border-radius: 6px;
    background-color: rgb(232,195,127);
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    text-align: center;
    margin-left: 1rem;
    
}
/* Result Page CSS */
@supports (display: grid){
    main{
        max-width: none;
        margin: 0;
    }
    main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    }
}

.results{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    border-radius: 1rem;
    background: rgb(237,237,237);
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}
.results > img{
    max-width: 180px;
    max-height: 180px;
    align-self: center;
    padding-top: 10px;
    cursor: pointer;
}
.results > ul > li {
    list-style: none;
    color: rgb(47,153,105);
}
.results > ul {
    align-self:  center;
    font-size: 1.2rem;
}
.h1Results{
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    font-size: 4rem;
    margin: 0;
    padding-bottom: 10px;
    
}
.aResults{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}
footer{
    padding-top: 1rem;
}
.bckColor{
    background: rgb(232,195,127);
}

/* Modal styling */
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.imageResult{
    position: absolute;
    top: 30%;
    right: 35%;
    z-index: 1;
}
.imageResult, #caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6sec;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom{
    from{-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1)}
}
@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1)}
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}
.close:hover, .close:focus{
    color:#bbb;
    text-decoration: none;
    cursor: pointer;
}
#caption{
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    top: 20px;
    font-size: 3rem;
}